*{

	margin: 0;
	padding: 15px;
	font-family: century gothic;

}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}
ul{
	float: right;
	list-style-type: none;
	margin-top: 40px;
	


}
ul li{
	display: inline-block;

}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 12px solid transparent;
	transition: 0.8s ease;


}
ul li.active a{
	background-color: #fff;
	color: #000;

}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title h1{
	color: #fff;
	font-size: 70px;

}
.button{
	position: absolute;
	top: 63%;
	left: 50%;
	transform: translate(-50%,-50%);


}
.btn{
	border:2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.8s ease;

}
.btn:hover{
	background-color: #fff;
	color:magenta;

}

/*feature...*/
#Gallery{
	padding-top: 2px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../12.jpg);
	background-size: cover;
	
	margin: auto;
	}
	.title-text{

		text-align: center;
		padding-bottom: 20px;
    }
.title-text p{

	margin: auto;
	font-size: 30px;
	color: red;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;



}
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius:35px; 

}
.title-text h1{
	
	font-size: 50px;
}
.Gallery-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;

}
.GALLERY{
	flex-basis: 50%;

}
.Gallery-img{
	flex-basis: 50%;
	margin: auto;
}
.Gallery-img img{
	width: 70%;
}
/*ABOUT*/
#About{
	padding-bottom: 30%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../12.jpg);
	background-size: cover;
	margin: auto;
	}
	.title-text1{

		text-align: center;
		padding-bottom: 70px;
    }
.title-text1 p{

	margin: auto;
	font-size: 30px;
	color: red;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;



}
.title-text1 p::after{
	content: '';
	width: 50px;
	height: 45px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius:35px; 

}
.title-text1 h1{
	
	font-size: 50px;
}
.About-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;

}
.ABOUT{
	flex-basis: 50%;

}
.About-img{
	flex-basis: 50%;
	margin: auto;
}
.About-img img{
	width: 70%;
}
.title-text2 p{

	margin: auto;
	font-size: 30px;
	color: red;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;



}
.title-text2 p::after{
	content: '';
	width: 50px;
	height: 45px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius:35px; 

}
.title1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title1 h1{
	color: #fff;
	font-size: 70px;
}
.title-text3{
	color: #fff;
	font-size: 70px;

}
.photo h1{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;

}
.photo{
	margin: 10px 53px;

}
.photo img{
	height: 220px;
	width: 290px;
	padding: 6px;
filter: grayscale(100%);
transition: 1.4s;

}
.photo img:hover{
	filter: grayscale(0);
	transform: scale(1.4);
}
.button1{
	position: absolute;
		
	left: 50%;
	transform: translate(-50%,-50%);
	
}

